---
import Layout from './Layout.astro';

import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  description: string;
}>;

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="mx-auto max-w-2xl">
    <div class="pb-4">
      <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
      <p class="text-gray-500">{frontmatter.date}</p>
      <p>{frontmatter.description}</p>
      <div>
        <h2 class="text-lg font-semibold">Table of Contents</h2>
        <ol class="list-decimal pl-8">
          {
            headings
              .filter((heading) => heading.depth === 1)
              .map((heading) => (
                <li>
                  <a
                    href={`#${heading.slug}`}
                    class="text-blue-500 hover:underline"
                  >
                    {heading.text}
                  </a>
                </li>
              ))
          }
        </ol>
      </div>
    </div>
    <article class="prose-thin prose prose-invert">
      <slot />
    </article>
  </div>
</Layout>
